<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shopping Cart</title>
</head>
<body>
    <h1>Shopping Cart</h1>
    <table border="1">
        <thead>
        <tr>
            <th>Item Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${cart.items}">
            <td th:text="${item.itemName}"></td>
            <td th:text="${item.itemDescription}"></td>
            <td th:text="${item.price}"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <p>Total: <span th:text="${total}"></span></p>
    <br>
    <a href="/checkout">Checkout</a>
</body>
</html>
