<form action="/register" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <label for="street">Street:</label>
        <input type="text" id="street" name="street" required>
    </div>
    <div>
        <label for="houseNumber">House Number:</label>
        <input type="text" id="houseNumber" name="houseNumber" required>
    </div>
    <div>
        <label for="postalCode">Postal Code:</label>
        <input type="text" id="postalCode" name="postalCode" required>
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>
